.container {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    color: black;
    gap: 10px;
    align-content: center;
    justify-content: center;
}

.item {
    margin: 10px;
    flex-basis: 500px;
    flex-grow: 1;
}

.btn {
    margin: 10px;
    flex-basis: 300px;
}